body{
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    .input{
        text-align: center;
        padding: 0 2rem;
        h3{
            color: #7e3a7e;
            text-transform: uppercase;
            text-align: center;
            font-size: xx-large;
        }
        .text{
            text-align: center;
            font-size: x-large;
            height: 50px;
            width: 50%;
            background: transparent;
            border: none;
            color: white;
        }
        .heading{
            text-align: center;
            font-size: x-large;
            height: 50px;
            width: 25%;
            background: transparent;
            border: none;
            color: white;
        }
        .submit{
            position: absolute;
            left: -9999px;
        }
    }

    .todos{
        padding: 0 2rem;
        list-style: none;
        .todo{
            font-size: x-large;
            color: rgb(219, 219, 219);
            margin: 1rem auto;
            width: 75%;
            display: flex;
            // flex-wrap: nowrap;
            justify-content: space-between;
            
            .text-block{
                border: solid rgb(163, 163, 163) 1px;
                border-radius: 10px;
                width: 100%;
                padding: 1rem;
                // display: block;

                h4{
                    margin: 0;
                }
            }
            .actions{
                transition: all .5s;
                display: flex;
                height: fit-content;
                margin: auto 1rem;
                .moving{
                    display: flex;
                    flex-direction: column;
                }
                button{
                    border: none;
                    background: rgba($color: #FFFFFF, $alpha: .5);
                }

                button:hover{
                    // background: transparent;
                    background: rgb(219, 219, 219);
                    
                }

                .disabled{
                    background: rgba($color: #FFFFFF, $alpha: .28);
                }

                .disabled:hover{
                    background: rgba($color: #FFFFFF, $alpha: .28);
                }

                .alarm{
                    border-radius: 0 5px 5px 0;
                }
                .up{
                    border-radius: 5px 0 0 0;
                }
                .down{
                    border-radius: 0 0 0 5px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .input{
            padding: 0 .5rem;
            text-align: start;
            display: flex;
            flex-direction: column;

            .text, .heading{
                width: 100%;
            }
        }

        .todos{
            padding: 0;
            .todo{
                margin: 1rem 0;
                width: 100%;
            }
        }
    }
}